
<div class="columns">
  <div class="column is-half  is-offset-one-quarter is-8 is-offset-2">
    
    <nav class= 'panel is-form-panel hidden card-shadow' id='grouped-info'>
      <p class="panel-heading">
        General Cargo Information for operation <%= params[:operation_id] %> x
      </p>

      <div class='panel-block'>
        <%= form_for @general_cargo_info, html: {class: "control"} do |f| %>

          <div class="field email">
            <%= f.label :pieces_number, class: 'label' %>
            <div class="control has-icons-left">
              <%= f.number_field :pieces_number, autofocus: true, class: 'input' %>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope email"></i>
              </span>
            </div>
          </div>

          <div class="control">
            <%= f.submit "Register", class: 'button is-link' %>
          </div>

        <% end %>
      </div>
    </nav>
   
  </div>
</div>

