<div class="modal fcl-request-info">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"> SEND INFORMATION REQUEST TO SHIPPER </p>
      <button class="delete close-modal fcl-request-info" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
    	<div class=''>
  			<div id="">
  				<div class="timeline-item" id="fcl_exw_request_cargo_info">
  					<div class="timeline-content <%= is_fcl_exw_info_requested?(operation_id) ? 'step-completed-no-bg' : '' %>">
  						<p>
  							<center>
  								<i class="far fa-share-square timeline-card-icon <%= is_fcl_exw_info_requested?(operation_id) ? 'step-completed-icon' : '' %>""></i>
  							</center>
  							<br>
  							By completing this step an email will be automatically sent to your shipper <b> (<%= shipper.company_name %>) </b> requesting him to provide the following information:
  						</p>
  						<br>
  						<ul>
  							<b>
  								<li>-Loading Address</li>
  								<li>-Container Size</li>
  								<li>-Loading Date & Dock Hours</li>
  								<li>-Gross Weight</li>
  								<li>-Commercial Description</li>
  								<li>-Is Cargo Hazardous</li>
  								<li>-Hazard Document</li>
  								<li>-EIN</li>
  								<li>-PickUp Reference</li>
  							</b>
  						</ul>
  						<br>

  					  <% if !info_requested_tasks.empty? %>
  				    	<article class="message is-primary">
  				    	  <div class="message-header">
  				    	    <p><b><%= info_requested_tasks.count %> Tasks for this step</b></p>
  				    	  </div>
  				    	  <div class="message-body">
  				    	  	<% info_requested_tasks.each do |task|%>
  						  	    <%= link_to task_path(task.id), class: "panel-block is-active" do %>
  					  	  	    <span class="panel-icon">
  					  	  	      <i class="fas fa-book" aria-hidden="true"></i>
  					  	  	    </span>
  					  	  	    <p>
  					  	  	    	<%= task.note.truncate 45 %> || due: 
  					  	  	    	<b><%= task.due_date %></b>
  					  	  	    </p>
  					  	  	  <% end %>
  					  	  	<% end %>
  				    	  </div>
  				    	</article>
  				  	<% end %>

  						<%= form_tag ("/fcl_exw_info") do %>
  							<%= hidden_field_tag 'shipper_id', shipper.id %>
  							<%= hidden_field_tag 'operation_id', operation_id %>
  							<%= hidden_field_tag 'agent_id', agent.id %>
  							<%= submit_tag 'SEND REQUEST', class: "button is-link #{is_fcl_exw_info_requested?(operation_id) ? 'step-completed' : ''  } " , disabled: is_fcl_exw_info_requested?(operation_id) %>
  							<a class="button is-primary right-button circle-button show-modal info_requested">
  								<i class="fas fa-tasks"></i>
  							</a>
  						<% end %>

  					</div>
  				</div>
  			</div>
    	</div>
     	<br>
    </section>
  </div>
</div>



