<div class="modal fcl-load-info">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">CARGO GENERAL INFORMATION</p>
      <button class="delete close-modal fcl-load-info" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
    	<div class="timeline-item" id="fcl_exw_info_timeline_item">
    		<div class="timeline-content <%= is_fcl_exw_info_stage_completed?(operation_secure_id) ? 'step-completed-no-bg' : '' %> <%= is_fcl_exw_info_stage_completed?(operation_secure_id) == 'orange' ? 'step-incompleted-no-bg' : '' %>">
    			
    			<br>
    			<p>
    				<center>
    					<i class="fas fa-truck-loading timeline-card-icon <%= is_fcl_exw_info_stage_completed?(operation_secure_id) == 'orange' ? 'step-incompleted-icon' : '' %> <%= is_fcl_exw_info_stage_completed?(operation_secure_id) ? 'step-completed-icon' : '' %>""></i>
    				</center>
    				<br>
    				Please load to the system the information that your shipper (<b><%= shipper.company_name %></b>) confirmed regarding the cargo issued by the agent <b><%= agent.company_name %></b>. 
    				<br>
    				<br>
    				<article class="message is-warning">
    				  <div class="message-header">
    				    <p><i class="fas fa-exclamation-triangle"> </i>   Warning</p>
    				  </div>
    				  <div class="message-body">
    				  	<ul>
    				  		<li>
    				  			- This information will be used to generate a new Booking Order.
    				  		</li>
    				  		<br>
    				  		<li>
    				  			- The information provided here, can be edited at any moment.
    				  		</li>
    				  	</ul>
    				  </div>
    				</article>


    			  <% if !cargo_info_tasks.empty? %>
    		    	<article class="message is-primary">
    		    	  <div class="message-header">
    		    	    <p><b><%= cargo_info_tasks.count %> Tasks for this step</b></p>
    		    	  </div>
    		    	  <div class="message-body">
    		    	  	<% cargo_info_tasks.each do |task|%>
    				  	    <%= link_to task_path(task.id), class: "panel-block is-active" do %>
    			  	  	    <span class="panel-icon">
    			  	  	      <i class="fas fa-book" aria-hidden="true"></i>
    			  	  	    </span>
    			  	  	    <p>
    			  	  	    	<%= task.note.truncate 45 %> || due: 
    			  	  	    	<b><%= task.due_date %></b>
    			  	  	    </p>
    			  	  	  <% end %>
    			  	  	<% end %>
    		    	  </div>
    		    	</article>
    	    	<% end %>
    			</p>
    		  <% if is_fcl_exw_info_stage_completed?(operation_secure_id) == 'orange' %>
    		  	<%= link_to is_fcl_exw_info_stage_completed?(operation_secure_id) ? 'UPDATE INFO' : 'FILL IN INFO', new_fcl_exw_steps_cargo_info_path(operation_secure_id: operation_secure_id), class: 'button step-incompleted'  %>
    		  <% else %>
    		  	<%= link_to is_fcl_exw_info_stage_completed?(operation_secure_id) ? 'UPDATE INFO' : 'FILL IN INFO', new_fcl_exw_steps_cargo_info_path(operation_secure_id: operation_secure_id), class: is_fcl_exw_info_stage_completed?(operation_secure_id) ? 'button step-completed' : 'button is-link'  %>
    		  <% end %>
    			
    			<a class="button is-primary right-button circle-button show-modal fcl_exw_cargo_info">
    				<i class="fas fa-tasks"></i>
    			</a>
    		</div>
    	</div>

     	<br>
    </section>
  </div>
</div>





















