

<div class="modal quotation">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">QUOTATION CONFIRMATION</p>
      <button class="delete close-modal quotation" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <div class=''>
        <div id="">
          <div class="timeline-item" id= "fcl_exw_confirm_quotation">
            <div class="timeline-content right <%= is_fcl_exw_quotation_confirmed?(operation_id) ? 'step-completed-no-bg-right' : '' %>">
              <p>
                <center>
                  <i class="far fa-money-bill-alt timeline-card-icon <%= is_fcl_exw_quotation_confirmed?(operation_id) ? 'step-completed-icon' : '' %>""></i>
                </center>

                Please confirm that your agent <b>(<%= agent.company_name %>)</b> has succesfully issued a quotation and has provided the documents that support the net and sell prices.
                <br>
                <br>
                If the quotation hasn't been issued by our <b>pricing department</b> click the "ISSUE" in order to notify your agent <b>(<%= agent.company_name %>)</b> and our <b>pricing department</b>.
                <br>
                <br>

                <%= form_tag ("/fcl_exw_steps/confirm_quotation"), class: "control full-select quotation", multipart: true do %>
                  <br>
                  <div class="columns">
                    <%= file_field_tag 'files[]', multiple: true, class: 'quotation-input', id:'quotation-input' %>
                    <a class="show-modal quotation-document">
                      <i class="fas fa-info-circle guide-btn"></i>
                    </a>
                  </div>

                  <ul>
                    <% quotation(operation_id).files.each do |file| %>
                      <li> <%= link_to file.path.split("/").last, file.url, target: 'blank' %>  </li>
                    <% end %>
                  </ul>
                  <br>

                  <% if !quotation_confirmed_tasks.empty? %>
                    <article class="message is-primary">
                      <div class="message-header">
                        <p><b><%= quotation_confirmed_tasks.count %> Tasks for this step</b></p>
                      </div>
                      <div class="message-body">
                        <% quotation_confirmed_tasks.each do |task|%>
                          <%= link_to generals_task_path(task.id), class: "panel-block is-active" do %>
                            <span class="panel-icon">
                              <i class="fas fa-book" aria-hidden="true"></i>
                            </span>
                            <p>
                              <%= task.note.truncate 45 %> || due: 
                              <b><%= task.due_date %></b>
                            </p>
                          <% end %>
                        <% end %>
                      </div>
                    </article>
                  <% end %>

                  <%= hidden_field_tag 'shipper_id', shipper.id %>
                  <%= hidden_field_tag 'operation_id', operation_id %>
                  <%= hidden_field_tag 'agent_id', agent.id %>

                  <%= submit_tag 'CONFIRM', class: "button is-link confirm #{is_fcl_exw_quotation_confirmed?(operation_id) ? 'step-completed' : ''  } "  %>
                  <%= submit_tag 'ISSUE', class: "button is-link #{is_fcl_exw_quotation_confirmed?(operation_id) ? 'step-completed' : ''  }", issue: true  %>

                  <a class="button is-primary right-button circle-button show-modal fcl_exw_quotation_confirmed">
                    <i class="fas fa-tasks"></i>
                  </a>
                <% end %>
              </p>
              <br>
            </div>
          </div>

        </div>
      </div>
      <br>
    </section>
  </div>
</div>
<%= render 'guides/quotation/quotation_document' %>
