<div class="search-container">
  <div class="columns">

    <%= form_tag users_representative_path, class: 'field is-horizontal column is-12' do %>

      <div class="column">
        <h1 class="title white-font">
          For
        </h1>

        <ul>
          <li>
            <%= button_tag type: "submit", class: "link-button", name: "all" do %>
              <span id='all-tag' class="tag is-rounded <%= is_active_date_range? ('all') %>">   <i class="far fa-calendar-alt tag-icon"></i> All
              </span>
            <% end %>

            <%= button_tag type: "submit", class: "link-button", name: "today" do %>
              <span id='today-tag' class="tag is-rounded inline-tag <%= is_active_date_range? ('today') %>">
                <i class="far fa-calendar-alt tag-icon"></i> Today
              </span>
            <% end %>
          </li>
          <br>
          <li>
            <%= button_tag type: "submit", class: "link-button", name: "this_week" do %>
              <span id='this-week-tag' class="tag is-rounded <%= is_active_date_range? ('this_week') %>">   <i class="far fa-calendar-alt tag-icon"></i> This Week
              </span>
            <% end %>
            <%= button_tag type: "submit", class: "link-button", name: "this_month" do %>
              <span id='more-progress-tag' class="tag is-rounded inline-tag <%= is_active_date_range? ('this_month') %>">
                <i class="far fa-calendar-alt tag-icon"></i> This Month
              </span>
            <% end %>
          </li>
        </ul>
      </div>

      <div class="column">
        <h1 class="title white-font">
          Operation Reference
        </h1>

        <div class="select">
          <%= select_tag :operation_id, options_for_select((operations_by_repre.map { |op| [op.reference, op.id] }).to_a.push('ALL').reverse, cookies[:operation_task_search]), {class: 'full-select', onchange: 'this.form.submit();'} %>
        </div>
      </div>

      <div class="column">
        <h1 class="title white-font">
          Task Type
        </h1>

        <div class="select">
          <%= select_tag :task_subject, options_for_select((task_subject).to_a.push('ALL').reverse, cookies[:operation_task_subject]), {class: 'full-select', onchange: 'this.form.submit();'} %>
        </div>
      </div>
    <% end %>
  </div>
</div>