<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<center>
			<h2 class="title is-4">BOOKING SHEET PARA SEGUIMIENTO</h2>
		</center>
		<br>
		<br>
		<div class="container">
			<div class="row">
				<div class="column">
					<% if agent(@operation).company_name.nil? %>
				    <p>
				    	AGENT: 
							<span style="text-decoration: underline; white-space: pre;">                                                               </span>
				    </p>
			    <% else %>
		        <p>
		        	AGENT: 
		    			<span style="text-decoration: underline; white-space: pre;"><%= agent(@operation).company_name %></span>
		        </p>
			    <% end %>

			    <% if shipper(@operation).company_name.nil? %>
				    <p>
				    	SHIPPER: 
				    	<span style="text-decoration: underline; white-space: pre;">                                                               </span>
				    </p>
				  <% else %>
					  <p>
					  	SHIPPER: 
					  	<span style="text-decoration: underline; white-space: pre;"><%= shipper(@operation).company_name %></span>
					  </p>
				  <% end %>

				  <% if shipper(@operation).email.nil? %>
				    <p>
				    	CTC: 
				    	<span style="text-decoration: underline; white-space: pre;">                                                               </span>
				    </p>
				  <% else %>
				  	<p>
				  		CTC: 
				  		<span style="text-decoration: underline; white-space: pre;"><%= shipper(@operation).email %></span>
				  	</p>
				  <% end %>

				  <% if shipper(@operation).phone_number.nil? %>
			    <p>
			    	PH: 
			    	<span style="text-decoration: underline; white-space: pre;">                                                               </span>
			    </p>
			    <% else %>
			    	<p>
			    		PH: 
			    		<span style="text-decoration: underline; white-space: pre;"><%= shipper(@operation).phone_number %></span>
			    	</p>
			    <% end %>

			    <% if consignee(@operation).company_name.nil? %>
				    <p>
				    	CONSIGNEE: 
				    	<span style="text-decoration: underline; white-space: pre;">                                                               </span>
				    </p>
				  <% else %>
					  <p>
					  	CONSIGNEE: 
					  	<span style="text-decoration: underline; white-space: pre;"><%= consignee(@operation).company_name %></span>
					  </p>
				  <% end %>
				</div>

				<div class="column">
				  <p>El contacto con el proveedor debe ser telefónico y vía e-mail para asegurarnos que sí reciba nuestra información. Así mismo, se deben usar las firmas predeterminadas para que nos suministren la información necesaria para realizar debidamente las coordinaciones.</p>

		      <% if @operation.modality.nil? %>
		  	    <p>
		  	    	INCOTERM: 
		  	    	<span style="text-decoration: underline; white-space: pre;">                                                               </span>
		  	    </p>
		  	  <% else %>
		  	  	<p>
		  	  		INCOTERM: 
		  	  		<span style="text-decoration: underline; white-space: pre;"><%= @operation.modality %></span>
		  	  	</p>
		  	  <% end %>	
				  <!--
				  <p>CONSOL#: 
				  	<span style="text-decoration: underline; white-space: pre;">                                                               </span>
				  </p>
				  <p>MASTER#: 
				  	<span style="text-decoration: underline; white-space: pre;">                                                               </span>
				  </p>
				  <p>HOUSE#: 
				  	<span style="text-decoration: underline; white-space: pre;">                                                               </span>
				  </p>
				-->
				</div>
			</div>
			<br>
			<br>
			<div class="row">
				<div class="column-third">
					<p>
						<% if contacted_customer(@operation) %>
							¿CONTACTÓ PROVEEDOR?
							SÍ <input type="checkbox" checked> 
		  				NO<input type="checkbox"> 
		  			<% else %>
							¿CONTACTÓ PROVEEDOR?
							SÍ<input type="checkbox"> 
		  				NO <input type="checkbox"> 
		  			<% end %>
					</p>

					<p>
						¿DEBEMOS TRANSMITIR?
						SÍ <input type="checkbox"> 
						NO <input type="checkbox">
					</p>
				</div>

				<div class="column-third">
					<p>
						¿SOLICITÓ INVOICE?
						<% if !invoice(@operation).nil? && invoice(@operation).requested %>
							SÍ <input type="checkbox" checked>
		  				NO <input type="checkbox"> 
		  			<% else %> 
							SÍ<input type="checkbox"> 
		  				NO <input type="checkbox">
		  			<% end %>
					</p>

					<p>
						¿SOLICITÓ SLI?
						<% if !sli(@operation).nil? && sli(@operation).requested %>
							SÍ <input type="checkbox" checked>
		  				NO <input type="checkbox"> 
		  			<% else %> 
							SÍ<input type="checkbox"> 
		  				NO <input type="checkbox">
		  			<% end %>
					</p>
				</div>

				<div class="column-third">
					<p>
						¿NECESITA SED?
						SÍ <input type="checkbox">
	  				NO <input type="checkbox">
					</p>
				</div>
			</div>
			<br>
			<br>
			<div class="row">
				<div class="column">
					<% if shipper(@operation).ein.nil? %>
						<p>
							SHIPPER EIN#: 
							<span style="text-decoration: underline; white-space: pre;">                                                               </span>
						</p>
					<% else %>
						<p>
							SHIPPER EIN#: 
							<span style="text-decoration: underline; white-space: pre;"><%= shipper(@operation).ein %></span>
						</p>
					<% end %>


					<% if @operation.origin_address.nil? %>
						<p> 
							ORIGIN ADDRESS: 
							<span style="text-decoration: underline; white-space: pre;">                                                               </span>
						</p>
					<% else %>
						<p> 
							ORIGIN ADDRESS: 
							<span style="text-decoration: underline; white-space: pre;"><%= @operation.origin_address %></span>
						</p>
					<% end %>

					<% if @operation.origin_city.nil? %>
						<p> 
							ORIGIN CITY: 
							<span style="text-decoration: underline; white-space: pre;">                                                               </span>
						</p>
					<% else %>
						<p> 
							ORIGIN CITY: 
							<span style="text-decoration: underline; white-space: pre;"><%= @operation.origin_city %></span>
						</p>
					<% end %>

					<% if @operation.origin_state.nil? %>
						<p> 
							ORIGIN STATE: 
							<span style="text-decoration: underline; white-space: pre;">                                                               </span>
						</p>
					<% else %>
						<p> 
							ORIGIN STATE: 
							<span style="text-decoration: underline; white-space: pre;"><%= @operation.origin_state %></span>
						</p>
					<% end %>

					<% if @operation.origin_zip_code.nil? %>
						<p> 
							ORIGIN ZIP CODE: 
							<span style="text-decoration: underline; white-space: pre;">                                                               </span>
						</p>
					<% else %>
						<p> 
							ORIGIN ZIP CODE: 
							<span style="text-decoration: underline; white-space: pre;"><%= @operation.origin_zip_code %></span>
						</p>
					<% end %>

					<% if @operation.origin_country.nil? %>
						<p> 
							ORIGIN COUNTRY: 
							<span style="text-decoration: underline; white-space: pre;">                                                               </span>
						</p>
					<% else %>
						<p> 
							ORIGIN COUNTRY: 
							<span style="text-decoration: underline; white-space: pre;"><%= @operation.origin_country %></span>
						</p>
					<% end %>


					<% if @operation.pol.nil? %>
						<p>
							POL: 
							<span style="text-decoration: underline; white-space: pre;">                                                               </span>
						</p>
					<% else %>
						<p>
							POL: 
							<span style="text-decoration: underline; white-space: pre;"><%= @operation.pol %></span>
						</p>
					<% end %>
					<!--
					<p>
						<b>MASTER FREIGHT:</b> 
						<span style="text-decoration: underline; white-space: pre;">                                                               </span>
					</p>
					-->		
				</div>
				<div class="column">			
					<% if @operation.destination.nil? %>
						<p>
							DESTINATION: 
							<span style="text-decoration: underline; white-space: pre;">                                                               </span>
						</p>
					<% else %>
						<p>
							DESTINATION: 
							<span style="text-decoration: underline; white-space: pre;"><%= @operation.destination %></span>
						</p>
					<% end %>

					<% if @operation.pod.nil? %>
						<p>
							POD: 
							<span style="text-decoration: underline; white-space: pre;">                                                               </span>
						</p>
					<% else %>
						<p>
							POD: 
							<span style="text-decoration: underline; white-space: pre;"><%= @operation.pod %></span>
						</p>
					<% end %>
					<!--
					<p>
						<b>HOUSE FREIGHT:</b> 
						<span style="text-decoration: underline; white-space: pre;">                                                               </span>
					</p>
					-->		
				</div>
			</div>
			<br>
			<br>
			<div class="booking-container top">
				<div class="row">
					<div class="column">
						<p>
							<b>COTIZADO & APROBADO</b>
								SÍ <input type="checkbox">
			  				NO <input type="checkbox">
							</div>
						</p>
				</div>
			</div>

			<% pieces(@operation).each do |piece| %>
				<div class="booking-container bottom">
					<div class="row">
						<div class="column-third">
							<% if piece.container_number.nil? || piece.container_number == "" %>
								<p>
									CONT#: 
									<span style="text-decoration: underline; white-space: pre;">                                                        </span>
								</p>
							<% else %>
								<p>
									CONT#: 
									<span style="text-decoration: underline; white-space: pre;"><%= piece.container_number %></span>
								</p>
							<% end %>
							
							<% if piece.commercial_description.nil? || piece.commercial_description == "" %>
								<p>
									CARGO DESCRIPTION: 
									<span style="text-decoration: underline; white-space: pre;">                               </span>
								</p>
							<% else %>
								<p>
									CARGO DESCRIPTION: 
									<span style="text-decoration: underline; white-space: pre;"><%= piece.commercial_description %></span>
								</p>
							<% end %>

							<% if piece.hazardous_class.nil? || piece.hazardous_class == "" %>
								<% if piece.cargo_hazardous == "NO" %>
									<p>
										HAZARDOUS CLASS: 
										<span style="text-decoration: underline; white-space: pre;">NO APLICA</span>
									</p>
								<% else %>
									<p>
										HAZARDOUS CLASS: 
										<span style="text-decoration: underline; white-space: pre;">                             </span>
									</p>
								<% end %>
							<% else %>
								<% if piece.cargo_hazardous == "NO" %>
									<p>
										HAZARDOUS CLASS: 
										<span style="text-decoration: underline; white-space: pre;">NO APLICA</span>
									</p>
								<% else %>
									<p>
										HAZARDOUS CLASS: 
										<span style="text-decoration: underline; white-space: pre;"><%= piece.hazardous_class %></span>
									</p>
								<% end %>
							<% end %>

							<% if cargo_info(@operation).bonded.nil? %>
								<p>
									¿ES BONDED?
									SÍ <input type="checkbox">
									NO <input type="checkbox">
								</p>	
							<% else %>
								<% if cargo_info(@operation).bonded? %>
									<p>
										¿ES BONDED?
										SÍ <input type="checkbox" checked>
										NO <input type="checkbox">
									</p>
								<% else %>
									<p>
										¿ES BONDED?
										SÍ <input type="checkbox">
										NO <input type="checkbox" checked>
									</p>
								<% end %>
							<% end %>
 
							<% if !self_propelled_task(@operation).nil? && self_propelled_task(@operation).status == '1' %>
								<p>
									¿VALIDÓ CON BROKER?
									SÍ <input type="checkbox" checked>
									NO <input type="checkbox">
								</p>
							<% else %>
								<p>
									¿VALIDÓ CON BROKER?
									SÍ <input type="checkbox">
									NO <input type="checkbox">
								</p>
							<% end %>

							<% if piece.gross_weight.nil? || piece.gross_weight == "" %>
								<p>
									GROSS WEIGHT: 
									<span style="text-decoration: underline; white-space: pre;">                                  </span>
								</p>
							<% else %>
								<p>
									GROSS WEIGHT: 
									<span style="text-decoration: underline; white-space: pre;"><%= piece.gross_weight.to_s + " lbs" %></span>
								</p>
							<% end %>
						</div>

						<div class="column-third">
							<% if piece.container_size.nil? || piece.container_size == "" %>
								<p>
									SIZE: 
									<span style="text-decoration: underline; white-space: pre;">                                                               </span>
								</p>
							<% else %>
								<p>
									SIZE: 
									<span style="text-decoration: underline; white-space: pre;"><%= piece.container_size %></span>
								</p>
							<% end %>

							<p>
								<% if piece.cargo_hazardous.nil? %>
									¿HAZMAT?
									SÍ <input type="checkbox"> 
				  				NO <input type="checkbox">
				  			<% elsif piece.cargo_hazardous == 'YES' %>
									¿HAZMAT?
									SÍ <input type="checkbox" checked> SÍ
				  				NO <input type="checkbox">
				  			<% else %>
									¿HAZMAT?
									SÍ <input type="checkbox">
				  				NO <input type="checkbox" checked>
				  			<% end %>
							</p>

							<p>
								<% if piece.un_code.nil? || piece.un_code == "" %>
									<% if piece.cargo_hazardous == "NO" %>
										UN CODE: 
										<span style="text-decoration: underline; white-space: pre;">NO APLICA</span>
									<% else %>
										UN CODE: 
										<span style="text-decoration: underline; white-space: pre;">                                           </span>
									<% end %>
								<% else %>
									<% if piece.cargo_hazardous == "NO" %>
										UN CODE: 
										<span style="text-decoration: underline; white-space: pre;">NO APLICA</span>
									<% else %>
										UN CODE: 
										<span style="text-decoration: underline; white-space: pre;"><%= piece.un_code %></span>
									<% end %>
								<% end %>	
							</p>
				
							<p>
								¿SOLICITARON SEGURO?
								SÍ <input type="checkbox">
								NO <input type="checkbox">
							</p>

							<% if piece.seal_number.nil? || piece.seal_number == "" %>
								<p>
									SEAL NUMBER: 
									<span style="text-decoration: underline; white-space: pre;">                                   </span>
								</p>
							<% else %>
								<p>
									SEAL NUMBER: 
									<span style="text-decoration: underline; white-space: pre;"><%= piece.seal_number %></span>
								</p>
							<% end %>
						</div>

						<div class="column-third">

							<% if cargo_info(@operation).files.empty? %>
								<p>
									¿TIENE DOC HAZ?
									SÍ <input type="checkbox"> 
				  				NO <input type="checkbox">		
								</p>
							<% else %>
								<p>
									¿TIENE DOC HAZ?
									SÍ <input type="checkbox" checked> 
				  				NO <input type="checkbox">		
								</p>
							<% end %>

							<% if cargo_info(@operation).self_propelled.nil? %>
								<p>
									¿ES SELF PROPELLED?
									SÍ <input type="checkbox"> 
									NO <input type="checkbox">
								</p>	
							<% else %>
								<% if cargo_info(@operation).self_propelled? %>
									<p>
										¿ES SELF PROPELLED?
										SÍ <input type="checkbox" checked> 
										NO <input type="checkbox">
									</p>
								<% else %>
									<p>
										¿ES SELF PROPELLED?
										SÍ <input type="checkbox"> 
										NO <input type="checkbox" checked>
									</p>
								<% end %>
							<% end %>

							<p>
								¿SE EMITIÓ PÓLIZA?
								SÍ <input type="checkbox">
								NO <input type="checkbox">
							</p>

							<% if piece.tare_weight.nil? || piece.tare_weight == "" %>
								<p>
									TARE WEIGHT: 
									<span style="text-decoration: underline; white-space: pre;">                                </span>
								</p>
							<% else %>
								<p>
									TARE WEIGHT: 
									<span style="text-decoration: underline; white-space: pre;"><%= piece.tare_weight.to_s + " lbs" %></span>
								</p>
							<% end %>	
						</div>
					</div>
				</div>
			<% end %>
			<br>
			<br>
			<br>
			<div class="row">
				<div class="column-third">
					<% if booking_info(@operation).doc_cut_off_date.nil? || booking_info(@operation).doc_cut_off_time.nil? %>
						<p>
							DOC CUT OFF: 
							<span style="text-decoration: underline; white-space: pre;">                                             </span>
						</p>
					<% else %>
						<p>
							DOC CUT OFF: 
							<span style="text-decoration: underline; white-space: pre;"><%= booking_info(@operation).doc_cut_off_date %> <%= time(booking_info(@operation).doc_cut_off_time) %></span>
						</p>
					<% end %>

					<% if booking_info(@operation).sailing_date.nil? %>
						<p>
							ETD: 
							<span style="text-decoration: underline; white-space: pre;">                                                               </span>
						</p>
					<% else %>
						<p>
							ETD: 
							<span style="text-decoration: underline; white-space: pre;"><%= booking_info(@operation).sailing_date %></span>
						</p>
					<% end %>

					<% if booking_info(@operation).ramp.nil? %>
						<p>
							MODE OF TRANSPORT: 
							<span style="text-decoration: underline; white-space: pre;">                                 </span>
						</p>
					<% elsif booking_info(@operation).ramp == false %>
						<p>
							MODE OF TRANSPORT: 
							<span style="text-decoration: underline; white-space: pre;">OCEAN-NO RAMP</span>
						</p>
					<% else %>
						<p>
							MODE OF TRANSPORT: 
							<span style="text-decoration: underline; white-space: pre;">OCEAN-RAMP</span>
						</p>
					<% end %>


					<% if steamship(@operation).nil? || steamship(@operation) == "" %>
						<p>
							STEAMSHIP: 
							<span style="text-decoration: underline; white-space: pre;">                                       </span>
						</p>
					<% else %>
						<p>
							STEAMSHIP: 
							<span style="text-decoration: underline; white-space: pre;"><%= steamship(@operation) %></span>
						</p>
					<% end %>

					<% if cargo_info(@operation).pickup_reference.nil? || cargo_info(@operation).pickup_reference == "" %>
						<p>
							PICKUP REFERENCE: 
							<span style="text-decoration: underline; white-space: pre;">                             </span>
						</p>
					<% else %>
						<p>
							PICKUP REFERENCE: 
							<span style="text-decoration: underline; white-space: pre;"><%= cargo_info(@operation).pickup_reference %></span>
						</p>
					<% end %>
				</div>

				<div class="column-third">
					<% if booking_info(@operation).cargo_cut_off_date.nil? || booking_info(@operation).cargo_cut_off_time.nil? %>
						<p>
							CARGO CUT OFF: 
							<span style="text-decoration: underline; white-space: pre;">                                     </span>
						</p>
					<% else %>
						<p>
							CARGO CUT OFF: 
							<span style="text-decoration: underline; white-space: pre;"><%= booking_info(@operation).cargo_cut_off_date %> <%= time(booking_info(@operation).cargo_cut_off_time) %></span>
						</p>
					<% end %>

					<% if booking_info(@operation).arrival_date.nil? %>
						<p>
							ETA: 
							<span style="text-decoration: underline; white-space: pre;">                                                               </span>
						</p>
					<% else %>
						<p>
							ETA: 
							<span style="text-decoration: underline; white-space: pre;"><%= booking_info(@operation).arrival_date %></span>
						</p>
					<% end %>

					<% if booking_info(@operation).booking_number.nil? %>
						<p>
							BOOKING#: 
							<span style="text-decoration: underline; white-space: pre;">                                                      </span>
						</p>
					<% else %>
						<p>
							BOOKING#: 
							<span style="text-decoration: underline; white-space: pre;"><%= booking_info(@operation).booking_number %></span>
						</p>
					<% end %>

					<% if booking_info(@operation).vessel.nil? || booking_info(@operation).vessel == "" %>
						<p>
							VESSEL/VOYAGE: 
							<span style="text-decoration: underline; white-space: pre;">                                       </span>
						</p>
					<% else %>
						<p>
							VESSEL/VOYAGE: 
							<span style="text-decoration: underline; white-space: pre;"><%= booking_info(@operation).vessel %></span>
						</p>
					<% end %>

					<% if booking_info(@operation).ramp_cut_off_date.nil? || booking_info(@operation).ramp_cut_off_date == "" %>
						<% if booking_info(@operation).ramp == "YES" %>
							<p>
								RAMP CUT OFF DATE: 
								<span style="text-decoration: underline; white-space: pre;">                                  </span>
							</p>
						<% else %>
							<p>
								RAMP CUT OFF DATE: 
								<span style="text-decoration: underline; white-space: pre;">NO APLICA</span>
							</p>
						<% end %>
					<% else %>
						<% if booking_info(@operation).ramp %>
							<p>
								RAMP CUT OFF DATE: 
								<span style="text-decoration: underline; white-space: pre;"><%= booking_info(@operation).ramp_cut_off_date %></span>
							</p>
						<% else %>
							<p>
								RAMP CUT OFF DATE: 
								<span style="text-decoration: underline; white-space: pre;">NO APLICA</span>
							</p>
						<% end %>
					<% end %>

				</div>

				<div class="column-third">
					<% if booking_info(@operation).voyage.nil? %>
						<p>
							VGM CUT OFF: 
							<span style="text-decoration: underline; white-space: pre;">                                                </span>
						</p>
					<% else %>
						<p>
							VGM CUT OFF: 
							<span style="text-decoration: underline; white-space: pre;"><%= booking_info(@operation).vgm_cut_off_date %></span>
						</p>
					<% end %>

					<% if booking_info(@operation).voyage.nil? %>
						<p>
							VOYAGE: 
							<span style="text-decoration: underline; white-space: pre;">                                                    </span>
						</p>
					<% else %>
						<p>
							VOYAGE: 
							<span style="text-decoration: underline; white-space: pre;"><%= booking_info(@operation).voyage %></span>
						</p>
					<% end %>

					<% if cargo_info(@operation).loading_date.nil? || cargo_info(@operation).loading_time.nil?  %>
						<p>
							SPOTTING DATE: 
							<span style="text-decoration: underline; white-space: pre;">                                          </span>
						</p>
					<% else %>
						<p>
							SPOTTING DATE: 
							<span style="text-decoration: underline; white-space: pre;"><%= cargo_info(@operation).loading_date %> <%= time(cargo_info(@operation).loading_time) %></span>
						</p>
					<% end %>

					<% if booking_info(@operation).ramp.nil? %>
						<p>
							INLAND MODE: 
							<span style="text-decoration: underline; white-space: pre;">                                              </span>
						</p>
					<% elsif booking_info(@operation).ramp == "YES" %>
						<p>
							INLAND MODE: 
							<span style="text-decoration: underline; white-space: pre;">RAIL TRUCK</span>
						</p>
					<% else %>
						<p>
							INLAND MODE: 
							<span style="text-decoration: underline; white-space: pre;">ALL TRUCK</span>
						</p>
					<% end %>

				</div>
			</div>
			<!--
			<div class="row">
				<p>
					WAREHOUSE #'S: 
					<span style="text-decoration: underline; white-space: pre;">                                                                                                                                                                                                                             </span>
				</p>
			</div>
		-->
		</div>
	</body>
	<style type="text/css">
		body{
			font-size: 12px;
		}

		/* Create two equal columns that floats next to each other */
		.column {
		  float: left;
		  width: 50%;
		}

		.column-third{
			float: left;
			width: 33.33333%;
		}

		/* Clear floats after the columns */
		.row:after {
		  content: "";
		  display: table;
		  clear: both;
		}

		span{
			margin-left: 10px;
			margin-right: 25px;
			text-transform: uppercase;
		}

		.right-space{
			margin-right: 30px;
		}

		.top{
			border: 2px solid black;

			margin-top: 25px;

			padding-left: 10px;
		}

		.bottom{
			border-right: 2px solid black;
			border-bottom: 2px solid black;
			border-left: 2px solid black;
			padding: 10px;
		}

		.with-border{
			border: 2px solid black;
			margin-left: 5px;
		}

		.with-border-right{
			border-top: 2px solid black; 
			border-right: 2px solid black;
			border-bottom: 2px solid black;
		}

		.with-top-border{
			border-top: 2px solid black;
		}

		.with-left-border{
			border-left: 2px solid black;
		}

		.column.with-border, .column.with-border-right, .column.small{
			width: 49% !important;
		}

		.padded{
			padding: 10px;
		}

		.full{
			width: 100% !important; 
		}

		table, th, td {
		  border: 2px solid black;
		  text-align: center;
		}

		table{
			width: 100%;
			border-collapse: collapse;
		}
	</style>
</html>