<section class="modal-card-body">
       <br>
       <article class="message is-warning">
         <div class="message-header">
           <p><i class="fas fa-exclamation-triangle"> </i>   Warning</p>
         </div>
         <div class="message-body">
           - The fields marked with an asterisk ('*') must be filled in.
           <br>
           <br>
           - You may complete or update the other fields later.
         </div>
       </article>
       <br>
       <%= hidden_field_tag :current_user_id, current_user.id %>
       <div class="field shipper">
         <label class= 'label'> <%= '*' unless user_type == 'consignee' %> Email: </label>
         <div class="control has-icons-left">
           <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "email input shipper" %>
           <span class="icon is-small is-left">
             <i class="fas fa-envelope email shipper"></i>
           </span>
         </div>
       </div>

       <div class="field shipper">
         <label class= 'label'> * Company Name: </label>
         <div class="control has-icons-left">
           <%= f.text_field :company_name, autofocus: true, autocomplete: "email", class: "email input shipper" %>
           <span class="icon is-small is-left">
             <i class="far fa-building"></i>
           </span>
         </div>
       </div>


       <div class="field shipper">
         <label class= 'label'> * Company Contact Phone Number: </label>
         <div class="control has-icons-left">
           <%= f.text_field :phone_number, autofocus: true, autocomplete: "email", class: "email input shipper" %>
           <span class="icon is-small is-left">
             <i class="fas fa-phone"></i>
           </span>
         </div>
       </div>

       <label class= 'label'> Company Contact Names: </label>
       <div class="field is-grouped shipper">
         <div class="control has-icons-left">
           <%= f.text_field :contact_first_name, autofocus: true, autocomplete: "email", class: "email input shipper", placeholder: "FIRST NAME" %>
           <span class="icon is-small is-left">
             <i class="fas fa-user-circle"></i>
           </span>
         </div>
         <div class="control has-icons-left">
           <%= f.text_field :contact_first_name, autofocus: true, autocomplete: "email", class: "email input shipper", placeholder: "SECOND NAME" %>
           <span class="icon is-small is-left">
             <i class="fas fa-user-circle"></i>
           </span>
         </div>
       </div>



       <div class="field shipper">
         <label class= 'label'> Address: </label>
         <div class="control has-icons-left">
           <%= f.text_field :address, autofocus: true, autocomplete: "email", class: "email input shipper" %>
           <span class="icon is-small is-left">
             <i class="fas fa-map-signs"></i>
           </span>
         </div>
       </div>

       <div class="field shipper">
         <label class= 'label'> Country: </label>
         <div class="control has-icons-left">
           <%= f.text_field :country, autofocus: true, autocomplete: "email", class: "email input shipper" %>
           <span class="icon is-small is-left">
             <i class="fas fa-globe"></i>
           </span>
         </div>
       </div>


       <div class="field shipper">
         <label class= 'label'> State: </label>
         <div class="control has-icons-left">
           <%= f.text_field :state, autofocus: true, autocomplete: "email", class: "email input shipper" %>
           <span class="icon is-small is-left">
             <i class="fas fa-globe"></i>
           </span>
         </div>
       </div>


       <div class="field shipper">
         <label class= 'label'> City: </label>
         <div class="control has-icons-left">
           <%= f.text_field :city, autofocus: true, autocomplete: "email", class: "email input shipper" %>
           <span class="icon is-small is-left">
             <i class="fas fa-globe"></i>
           </span>
         </div>
       </div>

       <div class="field shipper">
         <label class= 'label'>  Zip Code: </label>
         <div class="control has-icons-left">
           <%= f.text_field :zip_code, autofocus: true, autocomplete: "email", class: "email input shipper" %>
           <span class="icon is-small is-left">
             <i class="fas fa-globe"></i>
           </span>
         </div>
       </div>

     </section>

     <footer class="modal-card-foot">
       <%= f.button type: 'submit', class: 'button is-success' do %>
         <span>CREATE</span>
         <span class="icon is-small">
           <i class="fas fa-check"></i>
         </span>
       <% end %>

       <button class="button close-modal is-danger">
         <span>CANCEL</span>
         <span class="icon is-small">
           <i class="fas fa-times"></i>
         </span>
       </button>
     </footer>