<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<center>
			<h2 class="title is-4">INSURANCE REQUIREMENT</h2>
			<hr>
		</center>
		<br>
		<br>
		<div class="container">
			<div class="row">
				<h3>ASSURED</h3>
				<div class="column">
					<% if @insurance.name.nil? %>
				    <p>
				    	NAME: 
							<span style="text-decoration: underline; white-space: pre;">                                                               </span>
				    </p>
			    <% else %>
		        <p>
		        	NAME: 
		    			<span style="text-decoration: underline; white-space: pre;"><%= @insurance.name %></span>
		        </p>
			    <% end %>

    			<% if @insurance.phone.nil? %>
    		    <p>
    		    	PHONE: 
    					<span style="text-decoration: underline; white-space: pre;">                                                               </span>
    		    </p>
    	    <% else %>
            <p>
            	PHONE: 
        			<span style="text-decoration: underline; white-space: pre;"><%= @insurance.phone %></span>
            </p>
    	    <% end %>

    			<% if @insurance.city.nil? %>
    		    <p>
    		    	CITY: 
    					<span style="text-decoration: underline; white-space: pre;">                                                               </span>
    		    </p>
    	    <% else %>
            <p>
            	CITY: 
        			<span style="text-decoration: underline; white-space: pre;"><%= @insurance.city %></span>
            </p>
    	    <% end %>

    	    <% if @insurance.zip.nil? %>
				    <p>
				    	ZIP: 
							<span style="text-decoration: underline; white-space: pre;">                                                               </span>
				    </p>
			    <% else %>
		        <p>
		        	ZIP: 
		    			<span style="text-decoration: underline; white-space: pre;"><%= @insurance.zip %></span>
		        </p>
			    <% end %>

			</div>
			   

				<div class="column">

		      <% if @insurance.email.nil? %>
		  	    <p>
		  	    	EMAIL: 
		  	    	<span style="text-decoration: underline; white-space: pre;">                                                               </span>
		  	    </p>
		  	  <% else %>
		  	  	<p>
		  	  		EMAIL: 
		  	  		<span style="text-decoration: underline; white-space: pre;"><%= @insurance.email %></span>
		  	  	</p>
		  	  <% end %>	

	  			<% if @insurance.address.nil? %>
	  		    <p>
	  		    	ADDRESS: 
	  					<span style="text-decoration: underline; white-space: pre;">                                                               </span>
	  		    </p>
	  	    <% else %>
	          <p>
	          	ADDRESS: 
	      			<span style="text-decoration: underline; white-space: pre;"><%= @insurance.address %></span>
	          </p>
	  	    <% end %>

	  	    <% if @insurance.state.nil? %>
				    <p>
				    	STATE: 
							<span style="text-decoration: underline; white-space: pre;">                                                               </span>
				    </p>
			    <% else %>
		        <p>
		        	STATE: 
		    			<span style="text-decoration: underline; white-space: pre;"><%= @insurance.state %></span>
		        </p>
			    <% end %>

			    <% if @insurance.country.nil? %>
				    <p>
				    	COUNTRY: 
							<span style="text-decoration: underline; white-space: pre;">                                                               </span>
				    </p>
			    <% else %>
		        <p>
		        	COUNTRY: 
		    			<span style="text-decoration: underline; white-space: pre;"><%= @insurance.country %></span>
		        </p>
			    <% end %>
				</div>
			</div>
			<hr>
			<br>
			<br>
			<div class="row">
				<h3>CARGO DETAILS METHOD OF SHIPMENT</h3>
				<div class="column">
					<% if @insurance.modality.nil? %>
				    <p>
				    	MODALITY: 
							<span style="text-decoration: underline; white-space: pre;">                                                               </span>
				    </p>
			    <% else %>
		        <p>
		        	MODALITY: 
		    			<span style="text-decoration: underline; white-space: pre;">OCEAN</span>
		        </p>
			    <% end %>

    			<% if @insurance.destination.nil? %>
    		    <p>
    		    	DESTINATION: 
    					<span style="text-decoration: underline; white-space: pre;">                                                               </span>
    		    </p>
    	    <% else %>
            <p>
            	DESTINATION: 
        			<span style="text-decoration: underline; white-space: pre;"><%= @insurance.destination %></span>
            </p>
    	    <% end %>

    	    <% if @insurance.etd.nil? %>
				    <p>
				    	EXPECTED TIME OF DELIVERY: 
							<span style="text-decoration: underline; white-space: pre;">                                                               </span>
				    </p>
			    <% else %>
		        <p>
				    	EXPECTED TIME OF DELIVERY: 
		    			<span style="text-decoration: underline; white-space: pre;"><%= @insurance.etd %></span>
		        </p>
			    <% end %>

    	    <% if @insurance.commodities.nil? %>
    		    <p>
    		    	COMMODITIES: 
    					<span style="text-decoration: underline; white-space: pre;">                                                               </span>
    		    </p>
    	    <% else %>
            <p>
            	COMMODITIES: 
        			<span style="text-decoration: underline; white-space: pre;"><%= @insurance.commodities %></span>
            </p>
    	    <% end %>
				</div>
			   

				<div class="column">

		      <% if @insurance.origin.nil? %>
    		    <p>
    		    	ORIGIN: 
    					<span style="text-decoration: underline; white-space: pre;">                                                               </span>
    		    </p>
    	    <% else %>
            <p>
            	ORIGIN: 
        			<span style="text-decoration: underline; white-space: pre;"><%= @insurance.origin %></span>
            </p>
    	    <% end %>

	  			<% if @insurance.modality.nil? %>
	  		    <p>
	  		    	INCOTERM: 
	  					<span style="text-decoration: underline; white-space: pre;">                                                               </span>
	  		    </p>
	  	    <% else %>
	          <p>
	          	INCOTERM: 
	      			<span style="text-decoration: underline; white-space: pre;"><%= @insurance.modality %></span>
	          </p>
	  	    <% end %>

	  	    <% if @insurance.carrier.nil? %>
				    <p>
				    	CARRIER: 
							<span style="text-decoration: underline; white-space: pre;">                                                               </span>
				    </p>
			    <% else %>
		        <p>
		        	CARRIER: 
		    			<span style="text-decoration: underline; white-space: pre;"><%= @insurance.carrier %></span>
		        </p>
			    <% end %>
				</div>

		    <% if @insurance.marks.nil? %>
			    <p>
			    	MARKS: 
						<span style="text-decoration: underline; white-space: pre;">                                                               </span>
			    </p>
		    <% else %>
	        <p>
	        	MARKS: 
	    			<span style="text-decoration: underline; white-space: pre;"><%= @insurance.marks %></span>
	        </p>
		    <% end %>

			</div>
			<hr>
			<br>
			<br>
			<div class="row">
				<h3>SUM INSURED</h3>
				<div class="column">
					<% if @insurance.commercial_value.nil? %>
				    <p>
				    	COMMERCIAL VALUE: 
							<span style="text-decoration: underline; white-space: pre;">                                                               </span>
				    </p>
			    <% else %>
		        <p>
		        	COMMERCIAL VALUE: 
		    			<span style="text-decoration: underline; white-space: pre;">USD <%= @insurance.commercial_value %></span>
		        </p>
			    <% end %>

    			<% if @insurance.freight.nil? %>
    		    <p>
    		    	FREIGHT: 
    					<span style="text-decoration: underline; white-space: pre;">                                                               </span>
    		    </p>
    	    <% else %>
            <p>
            	FREIGHT: 
        			<span style="text-decoration: underline; white-space: pre;">USD <%= @insurance.freight %></span>
            </p>
    	    <% end %>

    			<% if @insurance.duties.nil? %>
    		    <p>
    		    	DUTIES: 
    					<span style="text-decoration: underline; white-space: pre;">                                                               </span>
    		    </p>
    	    <% else %>
            <p>
            	DUTIES: 
        			<span style="text-decoration: underline; white-space: pre;">USD <%= @insurance.duties %></span>
            </p>
    	    <% end %>

    			<% if @insurance.other_costs.nil? %>
    		    <p>
    		    	OTHER COSTS: 
    					<span style="text-decoration: underline; white-space: pre;">                                                               </span>
    		    </p>
    	    <% else %>
            <p>
            	OTHER COSTS: 
        			<span style="text-decoration: underline; white-space: pre;">USD <%= @insurance.other_costs %></span>
            </p>
    	    <% end %>
			  </div>

			 	<div class="column">
  		    <p>
  		    	<b>SUBTOTAL:</b> 
  					<span style="text-decoration: underline; white-space: pre;">USD <%= @subtotal %></span>
  		    </p>
			 	</div>
			</div>
			<hr>
			<div class="row">
				<div class="column">

					<% if @insurance.voluntary_coverage.nil? %>
				    <p>
				    	VOLUNTARY COVERAGE: 
							<span style="text-decoration: underline; white-space: pre;">                                                               </span>
				    </p>
			    <% else %>
		        <p>
		        	VOLUNTARY COVERAGE: 
		    			<span style="text-decoration: underline; white-space: pre;">USD <%= @insurance.voluntary_coverage %></span>
		        </p>
			    <% end %>

    			<% if @insurance.lost_profit.nil? %>
    		    <p>
    		    	LOST PROFIT 20% ADDITIONAL: 
    					<span style="text-decoration: underline; white-space: pre;">                                                               </span>
    		    </p>
    	    <% else %>
            <p>
            	LOST PROFIT 20% ADDITIONAL: 
        			<span style="text-decoration: underline; white-space: pre;">USD <%= @insurance.lost_profit %></span>
            </p>
    	    <% end %>
    	  </div>
			 	<div class="column">
          <p>
          	<b>TOTAL:</b> 
      			<span style="text-decoration: underline; white-space: pre;">USD <%= @total %></span>
          </p>
			  </div>
			</div>
		</div>
	</body>
	<style type="text/css">
		body{
			font-size: 12px;
		}

		/* Create two equal columns that floats next to each other */
		.column {
		  float: left;
		  width: 50%;
		}

		.column-third{
			float: left;
			width: 33.33333%;
		}

		/* Clear floats after the columns */
		.row:after {
		  content: "";
		  display: table;
		  clear: both;
		}

		span{
			margin-left: 10px;
			margin-right: 25px;
			text-transform: uppercase;
		}

		.right-space{
			margin-right: 30px;
		}

		.top{
			border: 2px solid black;

			margin-top: 25px;

			padding-left: 10px;
		}

		.bottom{
			border-right: 2px solid black;
			border-bottom: 2px solid black;
			border-left: 2px solid black;
			padding: 10px;
		}

		.with-border{
			border: 2px solid black;
			margin-left: 5px;
		}

		.with-border-right{
			border-top: 2px solid black; 
			border-right: 2px solid black;
			border-bottom: 2px solid black;
		}

		.with-top-border{
			border-top: 2px solid black;
		}

		.with-left-border{
			border-left: 2px solid black;
		}

		.column.with-border, .column.with-border-right, .column.small{
			width: 49% !important;
		}

		.padded{
			padding: 10px;
		}

		.full{
			width: 100% !important; 
		}

		table, th, td {
		  border: 2px solid black;
		  text-align: center;
		}

		table{
			width: 100%;
			border-collapse: collapse;
		}
	</style>
</html>