<div class="container is-widescreen"> 
  <div class="columns">
    <div class="column <%= is_fcl_exw_info_stage_completed?(params[:operation_id]) ? 'is-6' : 'is-half is-8 is-offset-2' %>">
      <nav class= 'panel is-form-panel card-shadow' >
        <p class="panel-heading">
          FCL - EXW Cargo information for operation: <%= params[:operation_id] %>
        </p>

        <div class='panel-block'>
          <%= form_with model: @fcl_cargo_info, id: 'different-info-form', html: {class: "control"} do |f| %>

            <%= hidden_field_tag :operation_id, params[:operation_id] %>

            <div class="field">
              <%= f.label 'Loading Address:', class: 'label' %>
              <div class="control has-icons-left">
                <%= f.text_field :loading_address, autofocus: true, class: 'input', value: is_fcl_exw_info_stage_completed?(params[:operation_id]) ? @existing_fcl_cargo_info.loading_address : '' %>
                <span class="icon is-small is-left">
                  <i class="fas fa-map-signs"></i>
                </span>
              </div>
            </div>  


            
            <div class="field">
              <%= f.label 'Container Type:', class: 'label' %>
              <div class="control has-icons-left">
                <div class="select full-select">
                  <%= f.select :container_size, options_for_select(["20'", "40'", "45'", "20' NOR", "40' NOR", "Flat Rack", "Open Top"], is_fcl_exw_info_stage_completed?(params[:operation_id]) ? @existing_fcl_cargo_info.container_size : ''), {include_blank: 'SELECT A TYPE'}, class: 'full-select' %>
                </div>
                <div class="icon is-small is-left">
                  <i class="fas fa-truck-loading"></i>
                </div>
              </div>
            </div>


            <div class="field">
              <%= f.label 'Loading Date:', class: 'label' %>
              <div class="control has-icons-left">
                <%= f.text_field :loading_date, autofocus: true, class: 'input loading_datetime', value: is_fcl_exw_info_stage_completed?(params[:operation_id]) ? @existing_fcl_cargo_info.loading_date : '' %>
                <span class="icon is-small is-left">
                  <i class="far fa-calendar-alt"></i>
                </span>
              </div>
            </div> 

            <div class="field">
              <%= f.label 'Loading Time:', class: 'label' %>
              <div class="control has-icons-left">
                <%= f.time_select :loading_time, {  }, { class: 'input time-input' } %>
                <span class="icon is-small is-left">
                  <i class="fas fa-clock"></i>
                </span>
              </div>
            </div> 

            <div class="field">
              <%= f.label 'Gross Weight (pounds):', class: 'label' %>
              <div class="control has-icons-left">
                <%= f.number_field :gross_weight, autofocus: true, class: 'input', step: :any, value: is_fcl_exw_info_stage_completed?(params[:operation_id]) ? @existing_fcl_cargo_info.gross_weight : '' %>
                <span class="icon is-small is-left">
                  <i class="fas fa-weight"></i>
                </span>
              </div>
            </div> 


            <div class="field">
              <%= f.label 'Commercial Description:', class: 'label' %>
              <div class="control has-icons-left">
                <%= f.text_field :commercial_description, autofocus: true , class: 'input', value: is_fcl_exw_info_stage_completed?(params[:operation_id]) ? @existing_fcl_cargo_info.commercial_description : '' %>
                <span class="icon is-small is-left">
                  <i class="fas fa-file-alt"></i>
                </span>
              </div>
            </div> 



            <div class="field">
              <%= f.label 'Is Cargo Hazardous?', class: 'label' %>
              <div class="control has-icons-left">
                <div class="select full-select">
                  <%= f.select :cargo_hazardous, options_for_select(["NO", "YES"], is_fcl_exw_info_stage_completed?(params[:operation_id]) ? @existing_fcl_cargo_info.cargo_hazardous : ''), {include_blank: 'SELECT IF HAZARDOUS'}, class: 'full-select' %>
                </div>
                <div class="icon is-small is-left">
                  <i class="fas fa-exclamation-triangle"></i>
                </div>
              </div>
            </div>

            <div class="field">
              <%= f.label 'Schedule B Number or Tariff Code:', class: 'label' %>
              <div class="control has-icons-left">
                <%= f.text_field :schedule_b_number, autofocus: true, class: 'input', value: is_fcl_exw_info_stage_completed?(params[:operation_id]) ? @existing_fcl_cargo_info.schedule_b_number : '' %>
                <span class="icon is-small is-left">
                  <i class="fas fa-file-alt"></i>
                </span>
              </div>
            </div> 

            <div class="field">
              <%= f.label 'EIN:', class: 'label' %>
              <div class="control has-icons-left">
                <%= f.text_field :ein, autofocus: true, class: 'input', value: is_fcl_exw_info_stage_completed?(params[:operation_id]) ? @existing_fcl_cargo_info.ein : '' %>
                <span class="icon is-small is-left">
                  <i class="fas fa-file-alt"></i>
                </span>
              </div>
            </div>

            <div class="field">
              <%= f.label 'Pick Up Reference:', class: 'label' %>
              <div class="control has-icons-left">
                <%= f.text_field :pickup_reference, autofocus: true, class: 'input', value: is_fcl_exw_info_stage_completed?(params[:operation_id]) ? @existing_fcl_cargo_info.pickup_reference : '' %>
                <span class="icon is-small is-left">
                  <i class="fas fa-file-alt"></i>
                </span>
              </div>
            </div>

            <br>
            <br>

            <div id="container"></div>
            <div class="control">
              <%= f.submit is_fcl_exw_info_stage_completed?(params[:operation_id]) ? "UPDATE CARGO INFO" : "REGISTER CARGO INFO" , class: 'button is-link' %>
            </div>
            <br>
          <% end %>
        </div>
      </nav>
    </div>

    <% if is_fcl_exw_info_stage_completed?(params[:operation_id]) %>
      <div class="column is-6">
        <nav class= 'panel is-form-panel card-shadow' >
          <p class="panel-heading">
            Alerts for operation <%= params[:operation_id] %>
          </p>

          <div class='panel-block'>
            <article class="message is-warning">
              <div class="message-header">
                <p><i class="fas fa-exclamation-triangle"> </i>   Warning</p>
                <button class="delete" aria-label="delete"></button>
              </div>
              <div class="message-body">
                <p>
                  Please have in count that a record for this step of the <b>operation identified with the number <%= params[:operation_id] %></b> was previously saved in our system, and by submiting new information, the old data would be overriden.  
                </p>
              </div>
            </article>
          </div>
        </nav>
      </div>
    <% end %>
  </div>
</div>