<div class='panel-block'>
  <%= form_for operations_by_user, html: {class: "control"} do |f| %>

    <div class="field">
      <%= f.label 'Reference code:', class: 'label' %>
      <div class="control has-icons-left">
        <%= text_field_tag :reference, ' ', class: "input" %>
        <span class="icon is-small is-left">
          <i class="fas fa-code"></i>
        </span>
      </div>
    </div>

    <label class="label">Destination Agent:</label>
    <div class="field is-grouped">
      <div class="control has-icons-left">
        <div class="select">
          <%= f.select :agent_id, options_for_select(agents.map{|agent| ["#{agent.company_name} <#{agent.email}>", agent.id]}), {include_blank: 'SELECT A DESTINATION AGENT'} ,{class: ''} %>
        </div>
        <div class="icon is-small is-left">
          <i class="fas fa-globe"></i>
        </div>
      </div>
      <p class="control text-joiner"> OR </p>
      <p class="control">
        <a class="button is-link show-modal agent">
          ADD NEW AGENT
        </a>
      </p>
    </div>

    <label class="label">Shipper:</label>
    <div class="field is-grouped">
      <div class="control has-icons-left">
        <div class="select">
          <%= f.select :shipper_id, options_for_select(shippers.map{|shipper| ["#{shipper.company_name} <#{shipper.email}>", shipper.id]}), {include_blank: 'SELECT A SHIPPER'} ,{class: ''} %>
        </div>
        <div class="icon is-small is-left">
          <i class="fas fa-globe"></i>
        </div>
      </div>
      <p class="control text-joiner"> OR </p>
      <p class="control">
        <a class="button is-link show-modal shipper">
          ADD NEW SHIPPER
        </a>
      </p>
    </div>

    <label class="label">Consignee:</label>
    <div class="field is-grouped">
      <div class="control has-icons-left">
        <div class="select">
          <%= f.select :consignee_id, options_for_select(consignees.map{|consignee| ["#{consignee.company_name} <#{consignee.email}>", consignee.id]}), {include_blank: 'SELECT A CONSIGNEE'} ,{class: ''} %>
        </div>
        <div class="icon is-small is-left">
          <i class="fas fa-globe"></i>
        </div>
      </div>
      <p class="control text-joiner"> OR </p>
      <p class="control">
        <a class="button is-link show-modal consignee">
          ADD NEW CONSIGNEE
        </a>
      </p>
    </div>

    <div class="field">
      <label class="label">Operation Type:</label>
      <div class="control has-icons-left">
        <div class="select full-select">
          <%= select_tag :modality, options_for_select(["FCL - EXW", "LCL"], "FCL - EXW"), {include_blank: 'SELECT AN OPERATION TYPE', class: "full-select modality"}%>
        </div>
        <div class="icon is-small is-left">
          <i class="fas fa-globe"></i>
        </div>
      </div>
    </div>

    <div class="field hidden pieces-number">
      <%= f.label 'Pieces Number:', class: 'label' %>
      <div class="control has-icons-left">
        <%= number_field_tag :pieces_number, ' ', class: "input" %>
        <span class="icon is-small is-left">
          <i class="fas fa-box"></i>
        </span>
      </div>
    </div>

    <br>

    <div class="control">
    	<%= f.button type: 'submit', class: 'button is-success' do %>
        <span>CREATE</span>
        <span class="icon is-small">
          <i class="fas fa-check"></i>
        </span>
      <% end %>

    	<%= link_to authenticated_root_path, class: 'button is-danger' do %>
      	<span>CANCEL</span>
      	<span class="icon is-small">
      	  <i class="fas fa-times"></i>
      	</span>
    	<% end %>
    </div>
  <% end %>
</div>


<%= render 'new_user_modal', user_type: 'agent' %>

<%= render 'new_user_modal', user_type: 'shipper' %>

<%= render 'new_user_modal', user_type: 'consignee' %>


<br>
<br>
<script type="text/javascript">
  $('.modality').prop('selectedIndex', 0); 

  $('.modality').on('change', function() {
    if ($('.modality').val() == 'FCL - EXW'){
      $('.pieces-number').removeClass('hidden');
    }else{
      $('.modality').val() = '';
      $('.pieces-number').addClass('hidden');
    }
  })
</script>