<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Type</th>
      <th>Status</th>
      <th>Agent</th>
      <th>Creation Date</th>
    </tr>
  </thead>

  <tbody>
    <% @operations_by_user.each do |operation_by_user| %>
      <tr class='row' >
        <td><%= operation_by_user.operation_id %></td>
        <td><%= operation_by_user.operation.modality %></td>
        <td><%= operation_by_user.operation.status %></td>
        <td><%= operation_by_user.agent.company_name %></td>
        <td><%= operation_by_user.operation.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>




<div class="columns">
	<div class="column">
		<%= link_to 'New Operation', new_operations_by_user_path, data: { turbolinks: false }, class: 'button is-link new-operation' %>
	</div>
</div>
