<div class="search-container">
  <div class="columns">

    <%= form_tag path, class: 'field is-horizontal column is-12' do %>

    	<div class="column">
    		<h1 class="title white-font">
    		  Sort By
    		</h1>

    		<ul>
    		  <li>
    		    <%= button_tag type: "submit", class: "link-button", name: "newest" do %>
    		      <span id='newest-tag' class="tag is-rounded inline-tag <%= is_active_sort_method? ('newest') %>"><i class="far fa-calendar-alt tag-icon"></i> Newest</span>
    		    <% end %>
    		    <%= button_tag type: "submit", class: "link-button", name: "oldest" do %>
    		      <span id='oldest-tag' class="tag is-rounded <%= is_active_sort_method? ('oldest') %>"> <i class="far fa-calendar-alt tag-icon"></i> Oldest</span>
    		    <% end %>
    		  </li>
    		  <br>
    		  <li>
    		    <%= button_tag type: "submit", class: "link-button", name: "more_progress" do %>
    		      <span id='more-progress-tag' class="tag is-rounded inline-tag <%= is_active_sort_method? ('more_progress') %>"><i class="fas fa-percent tag-icon"></i> Higher Progress</span>
    		    <% end %>
    		    <%= button_tag type: "submit", class: "link-button", name: "less_progress" do %>
    		      <span id='less-progress-tag' class="tag is-rounded <%= is_active_sort_method? ('less_progress') %>"><i class="fas fa-percent tag-icon"></i> Lower Progress</span>
    		    <% end %>
    		  </li>
    		</ul>
    	</div>
	   

      <div class="column">
        <h1 class="title white-font">
          Filter By Type
        </h1>
        <div class="select">
        	<%= select_tag :modality, options_for_select([ "ALL", "FCL - EXW", 'LCL' ], modality_content), { onchange: 'this.form.submit();' } %>
        </div>
      </div>

      <div class="column">
        <h1 class="title white-font">
          Filter By Status
        </h1>
        <div class="select">
        	<%= select_tag :status, options_for_select([ "ALL", "IN PROGRESS", 'COMPLETED'], status_content), { onchange: 'this.form.submit();' } %>
        </div>
      </div>

      <div class="column">
        <h1 class="title white-font">
          Search
        </h1>
        <div class="field has-addons">
          <div class="control">
          	<%= text_field_tag :search, search_content, class: "input", placeholder: "Agent or Shipper" %>
          </div>
          <div class="control">
          	<%= button_tag type: "submit", class: "button is-dark" do %>
          	  <i class="fas fa-search"></i>
          	<% end %>
          </div>
        </div>
	    </div>
  	<% end %>
  </div>
</div>