
<div id="first-tab-content" class="<%= is_admin? ? '' : 'hidden' %>" >
  <% if is_representative? || is_agent? %>
    <%= render 'shared/operations_records_list', status_content: status_content, modality_content: modality_content, search_content: search_content, path: users_representative_path, operations: operations %>
  <% else %>
    <%= render 'shared/charts_selector', modality_content: modality_content, search_content: search_content %>
  <% end %>
</div>

<div class="hidden" id="second-tab-content">
  <%= render 'registration/register', role: role, role_to_register: role_to_register %>
</div>

<div class="hidden" id="fourth-tab-content">
  <%= render 'registration/register', role: role, role_to_register: 'shipper' %>
</div>

<div class="hidden" id="third-tab-content">
  <%= render 'shared/options' %>
</div>

<% if is_representative? %>
	<div id="fifth-tab-content">
	  <%= render 'tasks/index', operations_by_repre: operations_by_repre, task_subject: task_subject %>
	</div>
<% end %>

