<div>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060"></font></span></font></div>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060">&nbsp;</font></span></font></div>
<div style="margin:0;"><font size="3" face="Calibri,sans-serif"><span style="font-size:12pt;"><font color="#002060">

	Buenos días,
	<br>
	Por favor realizar cotisación a <b> <%= @shipper.company_name %>.</b> Los datos de contacto son:
	<br>
	<ul>
		<li>
			<b>Número de télefono: </b> <%= @shipper.phone_number %>
		</li>
		<li>
			<b>Correo electrónico: </b> <%= @shipper.email %>
		</li>
	</ul>
	<b> Una vez diligenciada la cotización, por favor anviar la información a través del siguiente formulario: </b>
	<%= link_to "FORMULARIO DE COTIZACIÓN", "http://localhost:3000/quotation/new/"+@operation.secure_id.to_s, class: "button is-link" %>

	<p>Agradezco que me mantengan al tanto de la situación.</p>
	<p>Muchas gracias.</p>
</font></span></font></div>


<%= image_tag(attachments['signature.png'].url, width:"100%", height: "150") %>

<br>
<br>

<br>
<font size="2" face="Calibri,sans-serif"><span style="font-size:11pt;"><font size="1" face="Century Gothic,sans-serif" color="#002060"><span style="font-size:8pt;"><b>OUR VALUES : Dependence - Obedience - Gratitude - Integrity - Exc</b></span></font><font size="1" face="Century Gothic,sans-serif" color="#002060"><span style="font-size:8pt;" lang="en-US"><b>ellence
- Perseverance - Honor - Generosity - Humility - Generational Mentality</b></span></font></span></font>
</div>