<br>
<br>
<br>
<div class="container is-widescreen"> 
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><%= link_to "Home", admin_path  %></li>
      <li class="is-active"><a href="">Manage Representatives</a></li>
    </ul>
  </nav>
  <nav class="panel">
    <p class="panel-heading">
      <%= @representative.contact_first_name + ' ' + @representative.contact_last_name %>
    </p>


    <% if is_admin? %>
	    <a class="panel-block is-active" >        
	     	<b>Agents</b>
	    </a>
      <%  @agents.each do |rel| %>
        <a class="panel-block is-active" >        
          <span class="panel-icon">
            <i class="fas fa-users"></i>
          </span>
          <%= rel.company_name + ' ' + rel.email %>
          <% unless @relateds.include? rel %>
	          <%= form_tag create_relation_path, class: 'add_agent' do %>
	          	<%= hidden_field_tag 'related_id', rel.id %>
	          	<%= hidden_field_tag 'representative_id', @representative.id %>
	          	<i class="fas fa-plus add button-icon" onclick='$(".add_agent").submit();'></i>
	          <% end %>
	        <% else %>
	          <%= form_tag destroy_relation_path, class: 'remove_agent', method: :delete do %>
	          	<%= hidden_field_tag 'related_id', rel.id %>
	          	<%= hidden_field_tag 'representative_id', @representative.id %>
	          	<i class="fas fa-minus remove button-icon" onclick='$(".remove_agent").submit();'></i>
	          <% end %>
	        <% end %>
        </a>
      <% end %>

      <a class="panel-block is-active" >        
        <b>Shippers</b>
      </a>
      <%  @shippers.each do |rel| %>
        <a class="panel-block is-active" >        
          <span class="panel-icon">
            <i class="fas fa-users"></i>
          </span>
          <%= rel.company_name + ' ' + rel.email %>
          <% unless @relateds.include? rel %>
	          <%= form_tag create_relation_path, class: 'add_shipper' do %>
	          	<%= hidden_field_tag 'related_id', rel.id %>
	          	<%= hidden_field_tag 'representative_id', @representative.id %>
	          	<i class="fas fa-plus add button-icon" onclick='$(".add_shipper").submit();'></i>
	          <% end %>
	        <% else %>
	          <%= form_tag destroy_relation_path, class: 'remove_shipper', method: :delete do %>
	          	<%= hidden_field_tag 'related_id', rel.id %>
	          	<%= hidden_field_tag 'representative_id', @representative.id %>
	          	<i class="fas fa-minus remove button-icon" onclick='$(".remove_shipper").submit();'></i>
	          <% end %>
	        <% end %>
        </a>
      <% end %>

  	<% end %>
  </nav>
</div>