<%= form_for :task, url: {controller:'generals/tasks', action: action}, html: { class: 'task-form' } do |f| %>
  <div class="field">
    <%= f.label :note, class: 'label' %>
    <div class="control has-icons-left">
      <%= f.text_area :note, autofocus: true, autocomplete: "note", class: "input note" %>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <%= f.label :due_date, class: 'label' %>
    <div class="control has-icons-left">
      <%= f.text_field :due_date, autofocus: true, class: 'input due_datetime' %>
      <span class="icon is-small is-left">
        <i class="far fa-calendar-alt"></i>
      </span>
    </div>
  </div>
  <br>
  <% if controller_name == 'tasks' %>
	  <div class="field">
	  	<label class="checkbox">
	  	  <%= f.check_box :status %>
	  	  Mark as completed
	  	</label>
	  </div>
	  <br>
	<% end %>	
  <%= f.hidden_field :operation_id, value: operation_id %>
  <%= f.hidden_field :id, value: id %>
  <% if step == 'fcl_exw_cargo_info' %>
    <%= f.hidden_field :fcl_exw_cargo_info_step, value: fcl_exw_steps_cargo_info_id(operation_id) %>
  <% elsif step == 'info_confirmed' %>
    <%= f.hidden_field :fcl_exw_info_confirmed_step, value: fcl_exw_info_confirmed_step_id(operation_id) %>
  <% elsif step == 'info_requested' %>
    <%= f.hidden_field :fcl_exw_info_requested_step, value: fcl_exw_info_requested_step_id(operation_id) %>
  <% elsif step == 'fcl_exw_quotation_confirmed' %>
    <%= f.hidden_field :fcl_exw_quotation_confirmed_step, value: fcl_exw_quotation_confirmed_step_id(operation_id) %>
  <% elsif step == 'request_booking' %>
    <%= f.hidden_field :fcl_exw_request_booking_step, value: fcl_exw_request_booking_step_id(operation_id) %>  
  <% elsif step == 'fcl_exw_booking_info' %>
    <%= f.hidden_field :fcl_exw_booking_info_steps, value: fcl_exw_booking_info_step_id(operation_id) %>  
  <% elsif step == 'fcl_container_loading' %>
    <%= f.hidden_field :fcl_exw_container_loading_step, value: fcl_exw_container_loading_step_id(operation_id) %>  
  <% elsif step == 'fcl_container_delivery' %>
    <%= f.hidden_field :fcl_exw_container_delivery_step, value: fcl_exw_container_delivery_step_id(operation_id) %>  
  <% end %>

  <%= f.submit "SAVE", class: 'button is-link' %>
<% end %>