
<div class="modal <%= step %>">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">TASKS FOR OPERATION <%= Operation.find(operation_id).reference %></p>
      <button class="delete close-modal <%= step %>" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <article class="message is-primary">
        <div class="message-header">
          <p>Create Task For Operation <%= operation_id %></p>
        </div>
        <div class="message-body">
          <%= render 'generals/tasks/form', operation_id: operation_id, action: 'create', id: nil, step: step %>
        </div>
      </article>
     	<br>
    </section>
  </div>
</div>