<div class="modal <%= user_type %>">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">CREATE NEW <%= user_type.upcase %></p>
      <button class="delete close-modal <%= user_type %>" aria-label="close"></button>
    </header>


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name) , remote: true, html: {class: "control shipper-registration" }) do |f| %>
      <!--role hidden field-->  
      <%= hidden_field_tag :role, user_type %>

      <%= render 'registration/fields', f: f, user_type: user_type %>


    <% end %>
  </div>
</div>
