<br>
<br>
<br>
<div class="container is-widescreen"> 
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <% if is_admin? %>
        <li><%= link_to "Home", users_admin_path  %></li>
      <% else %>
        <li><%= link_to "Home", users_representative_path  %></li>
      <% end %>
      <li class="is-active"><a href="">Manage Relationships</a></li>
    </ul>
  </nav>
  <nav class="panel">
    <p class="panel-heading">
      Agents
    </p>
    <%  agents_relationships.each_with_index do |rel, index| %>
      <a class="panel-block is-active" > 
          <span class="panel-icon">
            <i class="fas fa-users"></i>
          </span>
          <%= rel.company_name + ' - ' + rel.email %>
          <% unless @relateds.include? rel %>
            <% add_agent = 'add_agent_'+index.to_s %>
            <%= form_tag users_create_relationship_path, class: add_agent do %>
              <%= hidden_field_tag 'related_id', rel.id %>
              <%= hidden_field_tag 'representative_id', @representative.id %>
              <i class="fas fa-plus add button-icon" onclick='$(".add_agent_<%= index %>").submit();'></i>
            <% end %>
          <% else %>
            <% remove_agent = 'remove_agent_'+index.to_s %>
            <%= form_tag users_destroy_relationship_path, class: remove_agent, method: :delete do %>
              <%= hidden_field_tag 'related_id', rel.id %>
              <%= hidden_field_tag 'representative_id', @representative.id %>
              <i class="fas fa-minus remove button-icon" onclick='$(".remove_agent_<%= index %>").submit();'></i>
            <% end %>
          <% end %>
          <i class="fas fa-cog user-setting <%= rel.id %>"></i>

        </a>
    <% end %>
    <br>
    <br>
  </nav>


  <nav class="panel">
    <p class="panel-heading">
      Shippers
    </p>
    
    <%  shippers_relationships.each_with_index do |rel, index| %>
      <a class="panel-block is-active" >        
        <span class="panel-icon">
          <i class="fas fa-users"></i>
        </span>
        <%= rel.company_name + ' - ' + rel.email %>
        <% unless @relateds.include? rel %>
          <% add_shipper = 'add_shipper_'+index.to_s %>
          <%= form_tag users_create_relationship_path, class: add_shipper do %>
            <%= hidden_field_tag 'related_id', rel.id %>
            <%= hidden_field_tag 'representative_id', @representative.id %>
            <i class="fas fa-plus add button-icon" onclick='$(".add_shipper_<%= index %>").submit();'></i>
          <% end %>
        <% else %>
          <% remove_shipper = 'remove_shipper_'+index.to_s %>
          <%= form_tag users_destroy_relationship_path, class: remove_shipper, method: :delete do %>
            <%= hidden_field_tag 'related_id', rel.id %>
            <%= hidden_field_tag 'representative_id', @representative.id %>
            <i class="fas fa-minus remove button-icon" onclick='$(".remove_shipper_<%= index %>").submit();'></i>
          <% end %>
        <% end %>
        <i class="fas fa-cog user-setting <%= rel.id %>"></i>
      </a>
    <% end %>
    <br>
    <br>
  </nav>

  <nav class="panel">
    <p class="panel-heading">
      Consignees
    </p>
    
    <%  consignees.each_with_index do |rel, index| %>
      <a class="panel-block is-active" >        
        <span class="panel-icon">
          <i class="fas fa-users"></i>
        </span>
        <%= rel.company_name + ' - ' + rel.email %>
        <i class="fas fa-cog user-setting <%= rel.id %>"></i>
      </a>
    <% end %>
    <br>
    <br>
  </nav>



    <br>
    <br>
  </nav>
</div>
