<a class="show-modal guide">
  <i class="fas fa-info-circle middle-icon fixed-bottom-button show-modal" ></i>
</a>

<div class="modal guide">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"><%= field_name %></p>
      <button class="delete close-modal relevant-info" aria-label="close"></button>
    </header>

    <section class="modal-card-body">
      <article class="message is-primary">
        <div class="message-header">
          <p>AGENT</p>
        </div>
        <div class="message-body">
          <p>
            <b>Company Name:</b> <%= agent.company_name %>
          </p>
          <br>
          <p>
            <b>Email Address:</b> <%= agent.email %> 
          </p>
          <br>
          <p>
            <b>Phone Number:</b> <%= agent.phone_number %> 
          </p>
          <br>
          <p>
            <b>Contact Name:</b> <%= agent.contact_first_name %> <%= agent.contact_last_name %>
          </p>
        </div>
      </article>
    </section>

  </div>
</div>