
<% if is_representative? || is_admin? || is_leader? %>
	<div class="container">
		<br>
		<br>
		<nav class="breadcrumb" aria-label="breadcrumbs">
		  <ul>
		  	<% if is_admin? %>
		  		<li class='operations-redirection' ><%= link_to "Operation Records List", general_records_path %></li>
		  	<% elsif is_leader? %>
		  		<li class='operations-redirection' ><%= link_to "Main Page", authenticated_root_path %></li>
		  	<% elsif is_representative? %>
		  		<li class='operations-redirection' ><%= link_to "Operation Records List", representative_path %></li>
		  	<% end %>
		    <li class="is-active"><%= link_to "Operation " + @operation.reference, operation_path(@operation.id) %></li>
		  </ul>

		  <div class="field">
		    <div class="control has-icons-left">
		      <div class="select sli margin-right">
		        <select class="sli difficulty outline-select">
		          <option disabled>DOCUMENTS</option>
		          <% if @sli.nil? || @sli.files.empty? %>
			          <option value="slis/<%= params[:id] %>.pdf">
		          	  See SLI
			          </option>
			        <% else %>
  		          <option value="<%= @sli.files.first.url %>">
  	          		See SLI
  		          </option>
			        <% end %>
		          <option value="slis/new/<%= @operation.secure_id %>">
		          	SLI Form
		          </option>
		          <option value="slis/request_sli/<%= @operation.secure_id %>">
		          	Request SLI
		          </option>
              <% unless @invoice.nil? || @invoice.files.empty? %>
    	          <option value="<%= @invoice.files.first.url %>">
              		See Invoice
    	          </option>
    	        <% end %>
    	        <option value="invoices/new/<%= @operation.secure_id %>">
    	        	Invoice Form
    	        </option>
    	        <option value="invoices/request_invoice/<%= @operation.secure_id %>">
    	        	Request Invoice
    	        </option>
    	        <option value="<%= booking_sheet_path(@operation.id, format: 'pdf') %>">
    	        	See Booking Sheet
    	        </option>
		        </select>
		      </div>
		      <div class="icon is-small is-left">
		      	<i class="fas fa-file-pdf"></i>
		      </div>
		    </div>
		  </div>

		  <%= link_to insurance_form_path(@operation_secure_id) , class: "button is-link is-outlined margin-right" do %>
			  <i class="fas fa-file-pdf"></i>
			  <span class="margin-left">INSURANCE</span>
			<% end %>

		  <b class="diff-label">Difficulty:</b>
		  <%= form_tag change_difficulty_path, class: 'button-icon' do %>
			  <div class="select">
			    <%= select_tag "difficulty", options_for_select([['EASY', 'EASY'], ['MEDIUM','MEDIUM'], ['HARD','HARD']], @operation.difficulty), { onchange: 'this.form.submit();', class: "difficulty" } %>
			  </div>
		  	<%= hidden_field_tag 'operation_id', params[:id] %>
		  <% end %>
		</nav>
	</div>
	<br>
	<%= render 'timeline', operation_secure_id: @operation_secure_id, operation_id: @operation.id, agent: @agent, shipper: @shipper, tasks: @tasks, cargo_info_tasks: @cargo_info_tasks, booking_info_tasks: @booking_info_tasks, info_confirmed_tasks: @info_confirmed_tasks, info_requested_tasks: @info_requested_tasks, quotation_confirmed_tasks: @quotation_confirmed_tasks, request_booking_tasks: @request_booking_tasks, carriers: @carriers, consignee: @consignee, fcl_exw_container_loading_tasks: @fcl_exw_container_loading_tasks,
	 fcl_exw_container_delivery_tasks: @fcl_exw_container_delivery_tasks %>
<% elsif is_agent? %>
<% end %>

