
<% if is_representative? || is_admin? || is_leader? %>
	<div class="container">
		<br>
		<br>
		<nav class="breadcrumb" aria-label="breadcrumbs">
		  <ul>
		  	<li class='operations-redirection' ><%= link_to breadcrumb_selector[0], breadcrumb_selector[1] %></li>
		    <li class="is-active"><%= link_to "Operation " + @operation.reference %></li>
		  </ul>

		  <div class="field">
		    <div class="control has-icons-left">
		      <div class="select sli margin-right">
		        <select class="sli difficulty outline-select">
		          <option disabled>DOCUMENTS</option>
		          <% if sli(@operation).nil? || sli(@operation).files.empty? %>
			          <option value="documents/slis/<%= params[:id] %>.pdf">
		          	  SLI
			          </option>
			        <% else %>
  		          <option value="<%= sli(@operation).files.first.url %>">
  	          		SLI
  		          </option>
			        <% end %>
		          <option value="documents/slis/new/<%= @operation.secure_id %>">
		          	SLI Form
		          </option>
		          <option value="documents/slis/request_sli/<%= @operation.secure_id %>">
		          	Request SLI
		          </option>
              <% unless invoice(@operation).nil? || invoice(@operation).files.empty? %>
    	          <option value="<%= invoice(@operation).files.first.url %>">
              		Invoice
    	          </option>
    	        <% end %>
    	        <option value="documents/invoices/new/<%= @operation.secure_id %>">
    	        	Invoice Form
    	        </option>
    	        <option value="documents/invoices/request_invoice/<%= @operation.secure_id %>">
    	        	Request Invoice
    	        </option>
    	        <option value="<%= documents_booking_sheet_path(@operation.id, format: 'pdf') %>">
    	        	Booking Sheet
    	        </option>
    	        <% existing_fcl_cargo_info(@operation).files.each_with_index do |file, i| %>
    	          <option value="<%= file.url %>"> <%= link_to doc_name(i), '', target: 'blank' %> </option>
    	        <% end %>
    	        </option>
    	        <% quotation(@operation).files.each_with_index do |file, i| %>
    	          <option value="<%= file.url %>"> <%= link_to doc_name(i, 'quotation'), '', target: 'blank' %> </option>
    	        <% end %>
    	        <% if quotation_sell(@operation).completed %>
  		          <option value="documents/quotation_sell/<%= params[:id] %>.pdf">
  	          	  Sold Quotation
  		          </option>
    	        <% end %>
    	        <% quotation_sell(@operation.id).files.each_with_index do |file, i| %>
    	          <option value="<%= file.url %>"> <%= link_to doc_name(i, 'sell-quotation'), '', target: 'blank' %> </option>
    	        <% end %>
    	        <option value="documents/insurance/view_pdf/<%= @operation.secure_id %>.pdf">
    	        	Insurance
    	        </option>
    	        <option value="send_documentation_modal" class="show-modal send-documents">
    	        	Send Documentation
    	        </option>
		        </select>
		      </div>
		      <div class="icon is-small is-left">
		      	<i class="fas fa-file-pdf"></i>
		      </div>
		    </div>
		  </div>

		  <%= link_to documents_insurance_form_path(operation_secure_id(@operation)) , class: "button is-link is-outlined margin-right" do %>
			  <i class="fas fa-file-pdf"></i>
			  <span class="margin-left">INSURANCE</span>
			<% end %>

		  <b class="diff-label">Difficulty:</b>
		  <%= form_tag change_difficulty_path, class: 'button-icon', method: 'put' do %>
			  <div class="select">
			    <%= select_tag "difficulty", options_for_select([['EASY', 'EASY'], ['MEDIUM','MEDIUM'], ['HARD','HARD']], @operation.difficulty), { onchange: 'this.form.submit();', class: "difficulty" } %>
			  </div>
		  	<%= hidden_field_tag 'operation_id', params[:id] %>
		  <% end %>
		</nav>
	</div>
	<br>
	<%= render 'timeline', operation_secure_id: operation_secure_id(@operation), operation_id: @operation.id, agent: agent(@operation), shipper: shipper(@operation), tasks: tasks(@operation), cargo_info_tasks: cargo_info_tasks(@operation), booking_info_tasks: booking_info_tasks(@operation), info_confirmed_tasks: info_confirmed_tasks(@operation), info_requested_tasks: info_requested_tasks(@operation), quotation_confirmed_tasks: quotation_confirmed_tasks(@operation), request_booking_tasks: request_booking_tasks(@operation), carriers: carriers, consignee: consignee(@operation), fcl_exw_container_loading_tasks: fcl_exw_container_loading_tasks(@operation),
	 fcl_exw_container_delivery_tasks: fcl_exw_container_delivery_tasks(@operation) %>

	 <%= render 'send_documentation_modal', operation: @operation %>
<% elsif is_agent? %>
<% end %>

